/*! copy right! */

*{margin: 0;padding: 0;	}
html, body {
  background: red; }

ul, ol, li {
  list-style: none; }

div {
  display: flex;
  box-sizing: border-box;
  width: calc(100% - 60px);
  transform: translate(-50%) rotate(45deg) scale(0.8, 0.8);
  transition: all 1s;
  background: url(faf0d86fcfaa44a6178d5637e966ea7c.jpg); }
.all {
  overflow: hidden; }
  .all > div {
    background: red; }
