doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='device-width,initial-scale=1')
    block scripts
      script(src='jquery.js')
      script(src='underscore.js')
      script(src='backbone.js')  
  body
    block content