//-基本的文本及标签操作
h1.titleClass#titleID 文本
p
  a(href='http://www.jackzxl.net', target='_blank') 我的主页
p.
  | 第1行文本
  span 第2行文本
  | 第3行文本
p
  | 第1行文本
  span 第2行文本
  | 第3行文本


-var alertDate = '这是alert文本';
p #{alertData}
p !{alertData}
p \#{alertData}
p \!{alertData}


script.
  console.log("open mind");
  console.log("learning quick");
  console.log("work hard");


