/*color:#09BB07*/

/* icon */
.icon-left,.icon-right,.icon-top,.icon-bottom{width:20px;height:20px;position:relative;}
.icon-left:before,.icon-right:before,.icon-top:before,.icon-bottom:before{content:"";position:absolute;border-left:1px solid #aaa;border-top:1px solid #aaa;width:8px;height:8px;}
.icon-left:before{top:6px;left:8px;transform:rotate(-45deg);}
.icon-right:before{top:6px;left:4px;transform:rotate(135deg);}
.icon-top:before{top:8px;left:6px;transform:rotate(45deg);}
.icon-bottom:before{top:3px;left:6px;transform:rotate(225deg);}
.icon-checked,.icon-radio{width:20px;height:20px;border-radius:50%;border:1px solid #c6c6c6;box-sizing:border-box;transition:all .2s;display:inline-flex;position:relative;margin-right:.5rem;}
.icon-checked:after{content:"";position:absolute;top:2px;left:6px;width:4px;height:10px;border-left:2px solid #fff;border-top:2px solid #fff;transform:scale(1.6,1.6) rotate(-135deg);transition:all .4s;opacity:0;}
.icon-radio:after{content:"";position:absolute;border-radius:10px;background-color:#fff;top:4px;left:4px;width:10px;height:10px;transform:scale(1.8,1.8);transition:all .4s;opacity:0;}
.icon-checked.on,.icon-radio.on{border-color:#09BB07;background-color:#09BB07;}
.icon-checked.on:after{border-color:#fff;transform:scale(1,1) rotate(-135deg);opacity:1;}
.icon-radio.on:after{opacity:1;transform:scale(1,1);}
.icon-delete{background:#09BB07;color:white;width:20px;height:20px;border-radius:20px;position:relative;}
.icon-delete:before,.icon-delete:after{content:"";width:12px;height:2px;display:block;position:absolute;top:50%;left:50%;margin-left:-6px;margin-top:-1px;background-color:#fff;}
.icon-delete:before{transform:rotate(45deg);}
.icon-delete:after{transform:rotate(-45deg);}
.icon-switch{width:2.8rem;height:1.4rem;border:1px solid #ccc;border-radius:1.4rem;display:inline-flex;position:relative;box-shadow:0 1px .1rem rgba(0,0,0,0.2);transition:all .5s;}
.icon-switch:after{content:"";height:1.4rem;width:1.4rem;border-radius:1.4rem;background:#fff;position:absolute;top:0;left:0;transition:all .3s;box-shadow:0 1px 0.25rem rgba(0,0,0,.4);}
.icon-switch.on{border-color:#09BB07;background:#09BB07;box-shadow:none;}
.icon-switch.on:after{left:1.45rem;}

/*列表*/
.nav-list-title{text-align:center; line-height:2.6rem;background-color:#eee}
.nav-list{background-color:#fff}
.nav-list li{margin:0 .8rem;height:2.8rem;padding:0 .1rem;position:relative;}
.nav-list li + li{border-top:1px solid #eee;}
.nav-list .nav-icon{width:2rem;height:2rem;margin-right:.2rem;}
.nav-list .nav-icon img{width:100%;}
.nav-list .nav-text{flex:1;}
.nav-list .nav-num{color:#09BB07}
.nav-list .nav-circle{color:white;background:#09BB07;min-width:1.2rem;height:1.2rem;padding:0 .3rem;box-sizing:border-box;font-size:.7rem;border-radius:2rem;}
.nav-list .form-title{width:6rem;}
.nav-list .form-input{flex:1;display:flex;align-items:center;}
.formList{line-height:1.4rem;}
.formList .pwd-isShow{font-size:.8rem;}
.formList .from-textarea{height:auto;display:block;padding-top:.5rem;}
.formList .from-textarea textarea{background-color:#eee}

/*登录*/
.page-login{width:80%;height:24rem;max-width:400px;font-size:.9rem;}
.page-login .login-logo{width:12rem;height:7rem;background:#eee;margin:0 auto 1rem;}
.page-login .login-form{}
.page-login .login-form-list{border:1px solid #ddd;border-radius:.2rem;background-color:#fff;height: 2.8rem; box-sizing: border-box;align-items: stretch;}
.page-login .login-form-list + .login-form-list{margin-top:.6rem;}
.page-login .login-title{width:4.5rem;background-color:#eee;}
.page-login .login-options{padding:0 .5rem;flex:1;}
.page-login .login-options input{}
.page-login .login-json{width:7rem;background-color:#f6f6f6}
.page-login .button{margin-top:1rem;}
.login-copyright{position:absolute;bottom:1rem;left:0;width:100%;text-align:center;font-size:.75rem;color:#999;}

/*头部/工具栏*/
.bar-top{position:absolute;top:0;right:0;left:0;height:2.8rem;background-color:#f7f7f8;text-align:center;border-bottom:1px solid rgba(150,150,150,.1);z-index:100;}
.bar-top .bar-top-l{width:3rem;line-height:2.8rem;}
.bar-top h1{font-size:1.05rem;flex:1;}
.bar-top .bar-top-r{width:3rem;height:2.8rem;display:flex;justify-content:center;align-items:center;}
.bar-top .bar-top-r .bar-menu{width:1.3rem;height:2px;background:#aaa;position:relative;}
.bar-top .bar-top-r .bar-menu:before,.bar-top .bar-top-r .bar-menu:after{content:"";position:absolute;left:0;display:block;width:1.3rem;height:2px;background:#aaa;transition:transform .8s;}
.bar-top .bar-top-r .bar-menu:before{top:-7px;}
.bar-top .bar-top-r .bar-menu:after{top:7px;}
.bar-top .bar-top-r .top-r-list{position:absolute;top:2.8rem;right:0;width:8rem;background:#f7f7f8;padding:0 .4rem;box-sizing:border-box;max-height:12rem;overflow:hidden;border-left:1px solid rgba(150,150,150,.1);border-bottom:1px solid rgba(150,150,150,.1);}
.bar-top .bar-top-r .top-r-list li{line-height:2.6rem;}
.bar-top .bar-top-r .top-r-list a{display:block;}
.bar-nav{position:absolute;bottom:0;left:0;right:0;height:3rem;background:#f7f7f8;border-top:1px solid rgba(150,150,150,.1);}
.bar-nav a{text-align:center;color:#999;flex:1;}
.bar-nav a.on{color:#09BB07;}
.bar-nav .icon{display:block;width:1.4rem;height:1.4rem;margin:.2rem auto .1rem;border:1px solid;box-sizing:border-box;}
.bar-nav .barf-text{font-size:.75rem;}
.page-cxt{position:absolute;top:0;left:0;right:0;bottom:3rem;overflow-y:auto;overflow-x:hidden;}
.bar-top ~ .page-cxt{top:2.8rem;}
/*mask*/
.page-fixed{position:fixed;top:0;bottom:0;left:0;right:0;}
.page-loading{z-index:260}
.page-mask{background-color:rgba(0,0,0,.75);z-index:160}
.page-alert{z-index:180}
.page-alert .alert-inner{background-color:#fff;min-width:200px;max-width:300px;box-shadow:0 .2rem .8rem rgba(0,0,0,.1);border-radius:.2rem;overflow:hidden;}
.page-alert .alert-text{padding:1rem;}
.page-alert .alert-done{border-top:1px solid #e9e9e9;background-color:#fcfcfc}
.page-alert .alert-done a{flex:1;text-align:center;line-height:2.5rem;}
.page-alert .alert-done a.on{color:#09BB07}
.page-alert .alert-done a.background{background-color:#09BB07;color:#fff}
.page-alert .alert-done a + a{border-left:1px solid #e9e9e9;}
.page-alert-messages{position:fixed;left:0;bottom:2rem;right:0;text-align:center;}
.page-alert-messages span{display:inline-block;background-color:rgba(0,0,0,.5);font-size:.9rem;padding:.5rem 1.2rem;color:white;border-radius:.2rem;max-width:200px;line-height:1.5;}
.p404{}
@media(max-width:500px){
	.p404 img{width: 20rem}
}
/*手机电话搜索*/
.telbooklist-search{margin:.7rem .6rem;background:#eee;padding:0 1.2rem;border-radius:2.2rem;height:2.2rem;}
.telbooklist-search input{}
.telbooklist-list-bar{position:absolute;top:50%;margin-top:-15rem;right:0;font-size:.7rem;text-align:center;z-index:10;}
.telbooklist-list-bar a{display:flex;width:1.6rem;height:1.3rem;color:#0894ec;align-items:center;justify-content:center}
.telbooklist-inner{height:calc(100% - 3.6rem);overflow-y:auto;position:relative;}
.telbooklist-inner .telbooklist-view{font-size:.9rem;}
.telbooklist-inner .telbooklist-view .view-type{font-size:.8rem;font-weight:bold;background:#eee;padding-left:1rem;line-height:1.6rem;}
.telbooklist-inner .telbooklist-view .view-list{margin:0 1rem;line-height:2.4rem;}
.telbooklist-inner .telbooklist-view .view-list + .view-list{border-top:1px solid #eee;}

/*.cart*/
.cart{padding:0 .8rem 1rem;font-size:.85rem;}
.c-shop{height:2.6rem}
.c-list{}
.c-list li{}
.c-list li + li{margin-top:.5rem;}
.c-list .c-inner{position:relative;}
.c-list .c-inner .image{width:5.5rem;height:5.5rem;margin-right:.8rem;}
.c-list .c-inner .image img{width:100%}
.c-list .c-cxt{flex:1;background-color:#fff;box-shadow:.1rem .3rem .8rem rgba(80,80,80,.1);padding:.5rem;align-items:stretch}
.c-list .c-wrap{flex:1;}
.c-list .cart-name{}
.c-list .cart-remark{color:#999;font-size:.7rem;line-height:1.4rem;margin-bottom:.2rem;}
.c-list .cart-price{color:#09BB07;font-size:1rem;flex:1;}
.c-list .cart-price:before{content:"￥";font-size:62.5%}
.c-list .max-nums{font-size:.7rem;color:#aaa}
.c-list .cart-nums{}
.c-list .cart-nums .reduce,.c-list .cart-nums .plus{width:1.6rem;height:1.4rem;position:relative;}
.c-list .cart-nums .reduce:before,.c-list .cart-nums .plus:before,.c-list .cart-nums .plus:after{content:"";position:absolute;top:50%;left:50%;margin-top:-1px;margin-left:-4px;width:8px;height:2px;background-color:#666;}
.c-list .cart-nums .plus:after{transform:rotate(90deg);}
.c-list .cart-nums .reduce.off:before,.c-list .cart-nums .plus.off:before,.c-list .cart-nums .plus.off:after{background-color:#ccc;}
.c-list .cart-nums .nums{height:1.4rem;width:2rem;background-color:#f6f6f6;font-size:.8rem;}
.c-list .icon-delete{position:absolute;top:-8px;right:-8px;}
.c-foot{position:absolute;bottom:0;left:0;right:0;height:3rem;background-color:#fff;box-shadow:0 0 1.2rem rgba(50,50,50,.1);padding-left:.8rem;}
.c-foot .conputed{flex:1;}
.c-foot .conputed small{margin-right:.4rem;color:#666;font-size:.85rem;}
.c-foot .conputed .price{color:#09BB07;font-size:.95rem;}
.c-foot .conputed .price:before{content:"￥";font-size:90%}
.c-foot .foot-r{width:7rem;}
.c-foot .foot-r .button{height:3rem;border-radius:0;background-color:#09BB07;font-size:.95rem;}

/*classify*/
.classify-container{font-size:.8rem;height:100vh;}
.classify-container > div{height:100%;overflow-y:auto;overflow-x:hidden;}
.classify-container .classify-l{width:5rem;background-color:#f3f3f3;}
.classify-container .first-list-l{}
.classify-container .first-list-l li{text-align:center;line-height:3rem;color:#999;position:relative;}
.classify-container .first-list-l li.on{background-color:#fcfcfc;color:#333;}
.classify-container .first-list-l li.on:before{content:"";position:absolute;top:50%;margin-top:-.5rem;height:1rem;left:0;width:.2rem;background-color:#e00;}
.classify-container .classify-r{flex:1;padding:1.4rem 0 .8rem;box-sizing:border-box;background-color:#fcfcfc}
.classify-container .classify-r .c2-adver{height:8rem;background-color:#eee;overflow:hidden;padding:0 .8rem;}
.classify-container .classify-r .c2-adver img{height:100%;}
.classify-container .classify-r .second-list-r{padding:0 .8rem;}
.classify-container .classify-r .second-list-r li{margin-top:1.4rem;background-color:#fff;border-radius:.2rem;box-shadow:0 .2rem .8rem rgba(0,0,0,.05)}
.classify-container .classify-r .second-list-r .second-title{display:block;line-height:2.4rem;padding:0 .5rem;font-weight:bold;}
.classify-container .classify-r .second-list-r .second-subList{flex-wrap:wrap;padding-bottom:.8rem;margin-top:-10px;align-items:flex-start;}
.classify-container .classify-r .second-list-r .second-subItem{box-sizing:border-box;padding:0 .8rem;margin-top:1rem;}
.classify-container .classify-r .second-list-r .subimage{overflow:hidden; max-width: 100px; max-height: 100px;     margin: 0 auto .4rem;}
.classify-container .classify-r .second-list-r .subimage img{max-width:100%;display:block;}
@media(max-width:500px){
	.classify-container .classify-r .second-list-r .second-subItem{width:calc(100% / 3);}
	.classify-container .classify-r .second-list-r .subimage{width:calc((100vw - 11.4rem) / 3);height:calc((100vw - 11.4rem) / 3);}
}
@media(min-width:500px){
	.classify-container .classify-r .second-list-r .second-subItem{width:calc(100% / 4);}
	.classify-container .classify-r .second-list-r .subimage{width:calc((100vw - 13rem) / 4);height:calc((100vw - 13rem) / 4);}
}
@media(min-width:620px){
	.classify-container .classify-r .second-list-r .second-subItem{width:calc(100% / 5);}
	.classify-container .classify-r .second-list-r .subimage{width:calc((100vw - 14.6rem) / 5);height:calc((100vw - 14.6rem) / 5);}
}

.classify-container .classify-r .second-list-r .name{line-height:1.2;max-height:2rem;width:100%;text-align:center;font-size:.75rem;color:#666;}
