@import 'reset.css';

html, body{
	background: red
}

ul,ol,li{ list-style: none; }

div{
	display: flex;
	box-sizing: border-box;
	width: calc(100% - 60px);
	transform: translate(-50%) rotate(45deg) scale(.8,.8);
	transition: all 1s;
	background: url("silde6.jpg");
}
