@charset "UTF-8";
html{font-family:-apple-system-font,"Helvetica Neue",sans-serif;font-size:4.2vw;word-wrap:break-word;-webkit-overflow-scrolling:touch;-webkit-tap-highlight-color:transparent;text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body,form,header,article,aside,nav,section,footer,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,strong,b{font-weight:normal;font-size:inherit;}
i,em{font-style:normal;}
[hidden]{display:none!important;}
table{border-collapse:collapse;width:100%; /*table-layout:fixed;*/}
th,td{text-align:center;padding:0;border:1px solid #ccc;}
ul,ol,li{list-style:none;}
a{text-decoration:none;color:inherit;cursor:pointer;}
a:hover{text-decoration:none;outline:0;}
img{border:0;outline:0;}
::-webkit-search-results-button{display:none;}
::-webkit-search-cancel-button{display:none;}
::-webkit-input-placeholder{color:#ccc;}
::-webkit-scrollbar{width:0;height:0;}
input,textarea,select{outline:none;outline-offset:0;resize:none;border:none;border-radius:0;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-appearance:none;width:100%;padding:0;margin:0;font-family:-apple-system-font,"Helvetica Neue",sans-serif;height:1.4rem;line-height:1.4rem;font-size:inherit;background-color:transparent;}
input[type="radio"],input[type="checkbox"]{display:none;}
textarea{height:4rem;line-height:1.4;font-family:-apple-system-font,"Helvetica Neue",sans-serif;font-size:inherit;}

/* clearfix */
.clearfix{zoom:1}
.clearfix:after{clear:both;display:block;visibility:hidden;content:"";height:0;}

/* ellipsis */
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

/* moblie：line-clamp */
.line-clamp{overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;max-height:3.2em;line-height:1.6em;}

/* justify */
.justify{width:10rem;       /*Will be covered*/display:inline-block;text-align:justify;}
.justify:after{content:"";display:inline-block;width:100%;}
.Page{box-sizing:border-box;position:absolute;left:0;top:0;width:100%;height:100%;background:#efeff4;overflow-x:hidden;overflow-y:auto;}













.classify-container{
	display: flex;
	font-size: .8rem;
	height: 100vh;
}
.classify-container > div{height: 100%; overflow-y: auto; overflow-x: hidden;}
.classify-container .c1-first{width: 5rem;background-color: #f3f3f3;}
.classify-container .first-list-l{  }
.classify-container .first-list-l li{text-align: center; line-height: 3rem; color: #999;position: relative;}
.classify-container .first-list-l li.on{background-color: #fcfcfc; color: #333;}
.classify-container .first-list-l li.on:before{
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -.5rem;
	height: 1rem;
	left: 0;
	width: .2rem;
	background-color: #e00;
}
.classify-container .c2-second{width: calc(100% - 5rem); padding: 1.4rem .8rem .8rem; box-sizing: border-box;background-color: #fcfcfc}
.classify-container .c2-second .c2-adver{min-height: 8rem; background-color: #eee}
.classify-container .c2-second .second-list-r{}
.classify-container .c2-second .second-list-r li{ margin-top: 1.4rem; background-color: #fff; border-radius: .2rem; box-shadow: 0 .2rem .8rem rgba(0,0,0,.05)}
.classify-container .c2-second .second-list-r strong{display: block; line-height: 2.4rem; padding: 0 .5rem; font-weight: bold;}
.classify-container .c2-second .second-list-r .second-subList{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: .8rem;
	margin-top: -10px;
}
.classify-container .c2-second .second-list-r .second-subItem{
	box-sizing: border-box;
	display: flex;
	align-content: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	padding: 0 1rem;
	margin-top: 1rem;
}
@media(max-width:500px){
	.classify-container .c2-second .second-list-r .second-subItem{width: calc(100% / 3);}
}
@media(min-width:500px){
	.classify-container .c2-second .second-list-r .second-subItem{width: calc(100% / 4);}
}
@media(min-width:620px){
	.classify-container .c2-second .second-list-r .second-subItem{width: calc(100% / 5);}
}
.classify-container .c2-second .second-list-r .subimage{margin-bottom: .4rem;}
.classify-container .c2-second .second-list-r .subimage img{max-width: 100%; display: block;}
.classify-container .c2-second .second-list-r .name{font-size: .8rem; line-height: 1rem;max-height:2rem;}



@media(min-width:420px){
	html{font-size:16px;}
}
@media(min-width:770px){
	.Page{width:770px;left:50%;margin-left:-385px;border-left:1px solid #e3e3e3;border-right:1px solid #e3e3e3;}
}