<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="format-detection" content="telephone=no, email=no">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no, viewport-fit=cover">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta content="always" name="referrer">
	<title>产品分类</title>
	<link rel="stylesheet" href="../css/reset.css?v=0.0.5">
	<link rel="stylesheet" href="../css/phone.css?v=0.0.5">
</head>
<body> 
	<div class="Page" id="app" v-cloak>
		<div class="classify-container flex-start">
			<div class="classify-l">
				<ul class="first-list-l">
					<li  
						v-for='(item, itemIndex) in firstdata' 
						:class='{on: firstIndex == itemIndex}'
						@click='firstIndex = itemIndex'>{{ item.name }}</li>
				</ul>
			</div>
			<div class="classify-r">
				<div class="c2-adver flex-center"><img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=4163356517,1798677704&amp;fm=26&amp;gp=0.jpg" alt="广告图"></div>
				<ul class="second-list-r">
					<li v-for='item in subList'>
						<div class="second-title">{{ item.name }}</div>
						<div class="second-subList flex-start">
							<div class="second-subItem" v-for='elem in item.children'>
								<div class="subimage flex-center"><img :src='elem.image'></div>
								<span class="name line-clamp">{{ elem.name }}</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script src="../js/vue.js"></script>
	<script>
		const firstdata = [
			{cid: 1, name: "推荐分类", parentId: 0},
			{cid: 2, name: "京东超市", parentId: 0},
			{cid: 3, name: "国际品牌", parentId: 0},
			{cid: 4, name: "奢侈品", parentId: 0},
			{cid: 5, name: "全球购", parentId: 0},
			{cid: 6, name: "唯品会", parentId: 0},
			{cid: 7, name: "男装", parentId: 0},
			{cid: 8, name: "女装", parentId: 0}
		]
		const subdata = [
			{subId: 1, name: "专场推荐", parentId: 1, children: [
				{childId: 1, name: "iPhone新品抢购",   image: "https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2584750901,766897664&fm=26&gp=0.jpg"},
				{childId: 2, name: "跨店买3免1叠享券", image: "https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2510850411,3248680042&fm=26&gp=0.jpg"},
				{childId: 3, name: "plus专享买1赠",    image: "https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=4163356517,1798677704&fm=26&gp=0.jpg"}
			]},
			{subId: 2, name: "热门分类", parentId: 1, children: [
				{childId: 4,  name: "笔记本",   image: "https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2647499043,1767426570&fm=26&gp=0.jpg"},
				{childId: 5,  name: "空调",     image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"},
				{childId: 6,  name: "手机",     image: "https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3843287922,1312219388&fm=26&gp=0.jpg"},
				{childId: 7,  name: "T恤",      image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"},
				{childId: 8,  name: "大闸蟹",   image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"},
				{childId: 9,  name: "休闲零食", image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"},
				{childId: 10, name: "图书",     image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"}
			]},
			{subId: 3, name: "休闲零食", parentId: 2, children: [
				{childId: 11, name: "坚果炒货",    image: "https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2884462686,373541941&fm=26&gp=0.jpg"},
				{childId: 12, name: "糖果巧克力",  image: "https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3469920784,654787919&fm=26&gp=0.jpg"},
				{childId: 13, name: "休闲零食",    image: "https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3381877500,3805985240&fm=26&gp=0.jpg"},
				{childId: 14, name: "肉干肉脯",    image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2579617446,1638994956&fm=26&gp=0.jpg"},
				{childId: 15, name: "饼干蛋糕",    image: "https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1095296088,3284179619&fm=26&gp=0.jpg"},
				{childId: 16, name: "蜜饯果干",    image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1071790883,1006859623&fm=26&gp=0.jpg"},
				{childId: 17, name: "中华老字号",  image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"}
			]},
			{subId: 4, name: "京东生鲜", parentId: 2, children: [
				{childId: 18, name: "新鲜水果",    image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"},
				{childId: 19, name: "蛋类", image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"}
			]},
			{subId: 5, name: "粮油调味", parentId: 2, children: [
				{childId: 20, name: "大米",    image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"},
				{childId: 21, name: "面粉", image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"}
			]},
			{subId: 6, name: "进口食品", parentId: 2, children: [
				{childId: 22, name: "牛奶",    image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"}
			]},
			{subId: 7, name: "中外名酒", parentId: 2, children: [
				{childId: 23, name: "白酒",    image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"},
				{childId: 24, name: "红酒",    image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"},
				{childId: 25, name: "洋酒",    image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"},
				{childId: 26, name: "啤酒",    image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"},
				{childId: 27, name: "陈年老酒",    image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"}
			]},
			{subId: 8, name: "营养保健", parentId: 2, children: [
				{childId: 28, name: "滋补养生",    image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"},
				{childId: 29, name: "计生用品",    image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"}
			]},
			{subId: 9, name: "推荐品牌", parentId: 3, children: [
				{childId: 30, name: "LOCOSTE", image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"},
				{childId: 31, name: "ECCO",    image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"},
				{childId: 32, name: "VERSACE", image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"},
				{childId: 33, name: "FOSSIL",  image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"}
			]},
			{subId: 10, name: "鞋靴箱包", parentId: 3, children: [
				{childId: 34, name: "LOCOSTE",    image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"},
				{childId: 35, name: "FOSSIL",    image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"}
			]},
			{subId: 11, name: "运动户外", parentId: 3, children: [
				{childId: 34, name: "adidas",   image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"},
				{childId: 35, name: "nike",     image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"},
				{childId: 36, name: "CONVERSE", image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"},
				{childId: 37, name: "crocs",    image: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=221444085,3653261259&fm=11&gp=0.jpg"}
			]}
		]
		

		new Vue({
			el: '#app',
			data: {
				firstdata: [],
				firstIndex: 0,
				subdata: []
			},
			computed: {
				subList() {
					let result = [];
					if (this.firstdata[this.firstIndex]) {
						let cid = this.firstdata[this.firstIndex].cid;
						this.subdata.map(item => {
							if (item.parentId == cid) result.push(item);
						})
					};
					return result;
				}
			},
			methods: {
				init(){
					this.firstdata = firstdata;
					this.subdata = subdata;
				}
			},
			mounted() {
				this.init();
			},
			filters: {

			}
		})
	</script>
</body>
</html>