<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <p v-for='(el, index) in list.pro'
      v-if='el != "chinese"'
      >{{ el }}</p>
    <!-- <span>{{ name }}</span> -->
  </div>
</body>
<script src="dist/vue.js"></script>
<script src="dist/vue-resource.min.js"></script>
<script>
  new Vue({
    el: '#app',

    data: {
      name: 'ajax',

      list: {
        "school": "beida",
        "pro": [
          "match",
          "chinese",
          "english"
        ]
      }
    },

    methods: {
      init() {
        this.$http.jsonp('data.json', {
          params: {
            //openid: 001
          },
          json: 'onBack'
        }).then(res => {
          console.log(res)
          // this.list = res.data;
        })
      }
    },

    mounted(){
      this.$nextTick(function(){
        this.init();
      })
    }
  })
</script>
</html>